<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信书汇首页</title>
    <link href="css/index/style.css" type="text/css" rel="stylesheet"/>
    <link href="layui/css/layui.css" type="text/css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="layui/layui.js" type="text/javascript"></script>
    <script src="js/car.js" type="text/javascript"></script>
</head>
<style>
.paginate{
    position: relative;
    float: left;
    width: 30%;
    height: 40%;
    left:40%;
    display:inline-block !important;
}

.paginate .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #D70010;
}

.paginate .layui-laypage-btn{
    background-color: #D70010;
    color: #FFFFFF;
}



.paginate>.layui-laypage>a:hover{
    color: #fff;
    background-color: #D70010;
    border-color: #D70010;
}

</style>
<body>

    <!-- 横幅 topbar -->
    <div class="site-topbar-v">
        <div class="container-v">
            <div class="container-topbar-title-v">
                <a class="title-content" style="color: #ffffff;font-size: 12px">闲置书籍转借云服务平台</a>
            </div>

            <div class="container-topbar-userInfo">
                <img src="images/index/u335.svg" style="width: 22px;height: 22px">
                <div id="noLogin" class="userInfo-and">
                    <a class="login-v" href="login.html" style="color:#ffffff;font-size: 12px">登录</a>
                    <span class="split-content-v" style="color:#ffffff;font-size: 12px">|</span>
                    <a class="register-v" href="register.html" style="color:#ffffff;font-size: 12px">注册</a>
                </div>
                <div id="hasLogin" class="userInfo-and userInfo-has-login" style="display: none">
                    <li class="show_list">
                        <span id="loginName" style="margin-left: -10px;color: #ffffff">shenwenwen</span>
                        <ul class="move_list">
                            <li id="center-nav">个人中心</li>
                            <li id="order-nav">我的订单</li>
                            <li id="out-nav">退出</li>
                        </ul>
                    </li>
                </div>
            </div>

            <div class="container-topbar-buttons">
                <img src="images/index/topbar_btns.png" style="width: 30px;height: 25px">
            </div>

            <div class="container-topbar-messages">
                <img src="images/index/systeminfos.png" style="width: 25px;height: 25px">
                <a style="color:#ffffff;font-size: 12px;width: 25px;height: 25px;border-radius: 20px;background-color: #ff0000">20</a>
            </div>

            <!--购物车-->
            <div class="container-topbar-car">
                <a class="shopping_car" href="javascript:enterMyCar();">
                    <img src="images/index/car.png" style="width: 25px;height: 25px">
                    <span id="carNumber" style="color:#ffffff;font-size: 12px">购物车（0）</span>
                </a>
            </div>
        </div>
    </div>

    <!-- 首页导航栏 -->
    <div class="site-header">

        <div class="site-logo">
            <img class="header-logo" src="images/logo.png">
        </div>

        <div class="header-nav-v">
            <ul class="nav-list-v">
                <li class="li-item-index" id="item-index-nav">
                    <a style="color: #7F7F7F" href="index.html">首页</a>
                </li>
                <li class="li-item-all">
                    <a class="item-all" href="" style="color: #7F7F7F">全部图书</a>
                </li>
                <li class="li-item-new">
                    <a class="item-new" href="" style="color: #7F7F7F">最新上架</a>
                </li>
                <li class="li-item-hot">
                    <a class="item-hot" href="" style="color: #7F7F7F">最热畅销</a>
                </li>
                <li class="li-item-good">
                    <a class="item-good" href="" style="color: #7F7F7F">最佳推荐</a>
                </li>
                <li class="li-item-about">
                    <a class="item-about" href="" style="color: #7F7F7F">关于我们</a>
                </li>
                <li class="li-item-admin">
                    <a class="item-admin" href="admin_login.html" style="color: #7F7F7F">管理员登录</a>
                </li>
            </ul>
        </div>

        <div class="header-search" >
            <input id="searchNavValue" type="text" placeholder="请输入..." name="" id="" value="" />
            <button id="search-nav"><i>搜索</i></button>
        </div>
    </div>

    <div class="main-page" id="main-page">
        <!-- 轮播图 -->
        <div class="site-carousel">
            <div class="layui-carousel" id="test1" lay-filter="test1">
                <div carousel-item="">
                    <div><img src="images/index/u178.jpg"/></div>
                    <div><img src="images/index/u179.jpg"/></div>
                    <div><img src="images/index/u180.jpg"/></div>
                    <div><img src="images/index/u181.jpg"/></div>
                    <div><img src="images/index/u182.png"/></div>
                </div>
            </div>
        </div>

        <!-- 书品栈 -->
        <div class="sit-books">
            <h1 class="site-books-title">书品栈</h1>
            <div class="site-books-category" id="site-books">
                <dl class="col-my-1" v-for="info in infos" :key="info.book_category_id">
                    <dd>
                        <a class="col-sm-img" href="mybookclass.html" @click="dumpBookClass(info.book_category_id)"><img class="img" :src="info.img" alt=""></a>
                    </dd>
                    <dt> {{ info.category }}</dt>
                </dl>
            </div>
        </div>

        <!-- 优品汇 -->
        <div class="sit-books-good">
            <h1 class="sit-books-good-title">优品汇</h1>
            <div class="books-good-images">
                <div class="books-good-images-1">
                    <a href=""><img src="images/index/u223.svg"></a>
                </div>
                <div class="books-good-images-2">
                    <a href=""><img src="images/index/u224.svg"></a>
                </div>
                <div class="books-good-images-3">
                    <a href=""><img src="images/index/u225.svg"></a>
                </div>
                <div class="books-good-images-4">
                    <a href=""><img src="images/index/u226.svg"></a>
                </div>
                <div class="books-good-images-5">
                    <a href=""><img src="images/index/u227.svg"></a>
                </div>
                <div class="books-good-images-6">
                    <a class="books-good-images-a" href=""><img class="six-img" src="images/index/u228.svg"></a>
                </div>
            </div>
        </div>

        <!-- 新品专区 -->
        <div class="sit-books-new">
            <h1 class="sit-books-new-title">新品专区</h1>
            <div class="site-books-new-details">
                <div class="books-new-1">
                    <dl>
                        <dd><a href=""><img src="images/index/u234.svg"></a></dd>
                    </dl>
                    <dt class="new-a">
                        <a href="" style="color:#7F7F7F">最新上架</a><br><br>
                        <span>27</span>
                    </dt>
                </div>
                <div class="books-new-2">
                    <dl>
                        <dd><a href=""><img src="images/index/u239.svg"></a></dd>
                    </dl>
                    <dt class="new-a">
                        <a href="" style="color:#7F7F7F">最热畅销</a><br><br>
                        <span>27</span>
                    </dt>
                </div>
                <div class="books-new-3">
                    <dl>
                        <dd><a href=""><img src="images/index/u244.svg"></a></dd>
                    </dl>
                    <dt class="new-a">
                        <a href="" style="color:#7F7F7F">最佳推荐</a><br><br>
                        <span>27</span>
                    </dt>
                </div>
                <div class="books-new-4">
                    <dl>
                        <dd><a href=""><img src="images/index/u249.svg"></a></dd>
                    </dl>
                    <dt class="new-a">
                        <a href="" style="color:#7F7F7F">热门搜索</a><br><br>
                        <span>27</span>
                    </dt>
                </div>
            </div>
        </div>
    </div>

    <div class="search-page" id="search-page"></div>
    <div class="paginate" id="pagination-layui"></div>

    <!-- footer -->
    <div id="footer" class="bg-footer">
        <div class="footer-container">
            <a class="footer-font-one">中信银行股份有限公司版权所有 Copyright © CITIC Bank All rights reserved</a><br/>
        </div>
    </div>

</body>
<script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="js/nav.js" type="text/javascript"></script>
<script src="js/vue/vue.min.js" type="text/javascript"></script>
<script src="js/axios.min.js" type="text/javascript"></script>
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel;
        //图片轮播
        carousel.render({
            elem: '#test1',
            width: '1200px',
            height: '466px',
            anim: 'fade',
            interval: 5000,
        });
    });


</script>
<script type="text/javascript">

    function enterMyCar() {
        if(window.sessionStorage.getItem("userId")!="null"){
            window.location.href = "mycar.html";
        }
    }

  new Vue({
       el: '#site-books',
       data () {
           return {
               infos: null,
               bookName:'',
               searchInfos:null
           }
       },
       mounted () {
           axios.post('category/bookCategory')
               .then(response => (this.infos = response.data.list))
               .catch(function (error) { // 请求失败处理
               console.log(error);
           });
       },
       methods:{
           dumpBookClass:function (bookCategoryId) {
               window.sessionStorage.setItem("bookCategoryId",bookCategoryId);
           }
       }
   });

</script>
</html>