<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sww.bank_book.index.dao.BookCategoryDao">

    <select id="findBookCategory" resultType="com.sww.bank_book.index.entity.BookCategory">
        SELECT * FROM book_category
    </select>

</mapper>